$body-background: #8c9197;
$brand-primary: rgb(69, 80, 14);
$primary-font-size: 12pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$link-color: #00285d;
$blue: #0072ee;
// $main-content-class: "book";
